@import '../../../scheduler-sass/themes/vars/classic-light-vars';

$schedulerpro-timeline-background-color : #fff;
$schedulerpro-timeline-border-color     : darken($gray, 10);

$taskeditor-recurrence-info-background-color : #ffeeee;
