/* Variable declaration */
/* General styling */
* 
#wrapper {
  margin: 0 auto;
  margin-top: 100px;
  width: 320px;
}

/* Mixin */ 
@mixin vertical-align($position: relative) { 
    position: $position; 
    top: 50%; -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
     transform: translateY(-50%); 

} 

.button {
  float: left;
  height: 64px;
  width: 64px;
  margin: 0 8px;
  background-color: #777;
  cursor: pointer;
  box-shadow: 3px 3px #2E2E2E;
}
.button [class^="icon-"] {
  display: inline-block;
  width: 100%;
  line-height: 64px;
  text-align: center;
  height: 64px;
  font-size: 38px;
  background: -webkit-linear-gradient(#fff, #ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button [class^="icon-"]:before {
  display: initial;
}

#star {
  background-color: #CCCC52;
}

#anchor {
  background-color: #52A3CC;
}

#beaker {
  background-color: #52CC52;
}

#bug {
  background-color: #CC5252;
}

/* Modal overlay styling */
#overlay {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#overlay #screen {
  width: 100%;
  height: 100%;
  background-color: #9cb0c7;
  opacity: 0.2;
}
#overlay .dialog {
  z-index: 10;
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #777;
  min-width: 303px;
  max-width: 500px;
}
#overlay .dialog .label-dialog {
  float: left;
  height: 100px;
  width: 64px;
  background-color: #fff;
  text-align: center;
  vertical-align: top;
}
#overlay .dialog .label-dialog [class^="icon-"] {
  line-height: 100px;
  font-size: 60px;
  color: #333;
}
#overlay .dialog .body-dialog {
  float: left;
  height: 100px;
  line-height: 100px;
  width: calc(100% - 114px);
}
#overlay .dialog .body-dialog p {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font: 16px roboto;
    color: #EEE;
    vertical-align: middle;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#overlay .dialog .body-dialog p span {
  font-weight: 700;
}
#overlay .dialog .ok-dialog {
  float: left;
  height: 100px;
  width: 50px;
  background-color: #25aae1;
  text-align: center;
  vertical-align: top;
  font-size: 32px;
  color: #fff;
  
}
.fa-check-circle {
    position: relative; 
    top: 50%; -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
     transform: translateY(-50%); 
}
#overlay .dialog .ok-dialog [class^="icon-"] {
  line-height: 100px;
  font-size: 30px;
  color: #EEE;
}
#overlay .dialog .ok-dialog:hover {
  background-color: #25aae1;
  cursor: pointer;
}
#overlay #dialog-star .label-dialog [class^="icon-"] {
  color: #CCCC52;
}
#overlay #dialog-star .ok-dialog {
  background-color: #CCCC52;
}
#overlay #dialog-star .ok-dialog:hover {
  background-color: #dddd41;
}
#overlay #dialog-anchor .label-dialog [class^="icon-"] {
  color: #52A3CC;
}
#overlay #dialog-anchor .ok-dialog {
  background-color: #52A3CC;
}
#overlay #dialog-anchor .ok-dialog:hover {
  background-color: #41a9dd;
}
#overlay #dialog-beaker .label-dialog [class^="icon-"] {
  color: #52CC52;
}
#overlay #dialog-beaker .ok-dialog {
  background-color: #52CC52;
}
#overlay #dialog-beaker .ok-dialog:hover {
  background-color: #41dd41;
}
#overlay .dialog:nth-of-type(5) .label-dialog [class^="icon-"] {
  color: #CC5252;
}
#overlay .dialog:nth-of-type(5) .ok-dialog {
  background-color: #CC5252;
}
#overlay .dialog:nth-of-type(5) .ok-dialog:hover {
  background-color: #dd4141;
}
.alert-img {
    position: relative; 
    top: 50%; -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
     transform: translateY(-50%); 
}