@import 'icon-font';

@import '../fontawesome/scss/variables';
@import '../fontawesome/scss/mixins';
@import '../fontawesome/scss/core';
@import '../fontawesome/scss/larger';
@import '../fontawesome/scss/fixed-width';
@import '../fontawesome/scss/list';
@import '../fontawesome/scss/bordered-pulled';
@import '../fontawesome/scss/animated';
@import '../fontawesome/scss/rotated-flipped';
@import '../fontawesome/scss/stacked';
@import '../fontawesome/scss/icons';
@import '../fontawesome/scss/screen-reader';

// some demos use fa icons
.b-fa {
    font-family            : inherit;
    font-weight            : inherit;
    line-height            : inherit;
    -webkit-font-smoothing : inherit;
}

.b-fa:before {
    font-family : $icon-font;
    font-weight : $icon-font-weight;
}

// our own icon class, to allow customization by client
.b-icon:before {
    @include fa-icon();
    font-family     : $icon-font;
    font-weight     : $icon-font-weight;

    display         : inline-flex;
    justify-content : center;
    align-items     : center;
}

.b-fw-icon:before {
    @include fa-icon();
    @extend .b-fa-fw;
    font-family    : $icon-font;
    font-weight    : $icon-font-weight;
    vertical-align : 0;
}

//region Actions

.b-icon-add:before {
    content : "\+";
}

.b-icon-remove:before {
    content : "#{ $fa-var-times }";
}

.b-icon-clear:before {
    content : "#{ $fa-var-times }";
}

.b-icon-close:before {
    content : "#{ $fa-var-times }";
}

.b-icon-collapse-down:before {
    content : "#{ $fa-var-chevron-down }";
}

.b-icon-collapse-left:before {
    content : "#{ $fa-var-chevron-left }";
}

.b-icon-collapse-right:before {
    content : "#{ $fa-var-chevron-right }";
}

.b-icon-collapse-up:before {
    content : "#{ $fa-var-chevron-up }";
}

.b-icon-filter-disable:before {
    content : "#{ $fa-var-ban }";
}

.b-icon-search:before {
    content : "#{ $fa-var-search }";
}

.b-icon-search-plus:before {
    content : "#{ $fa-var-search-plus }";
}

.b-icon-search-minus:before {
    content : "#{ $fa-var-search-minus }";
}

.b-icon-hide:before {
    content : "#{ $fa-var-times-circle }";
}

.b-icon-trash:before {
    content : "#{ $fa-var-trash }";
}

.b-icon-edit:before {
    content : "#{ $fa-var-pencil-alt }";
}

.b-icon-rename:before {
    content : "#{ $fa-var-pen-to-square }";
}

.b-icon-copy:before {
    content : "#{ $fa-var-copy }";
}

.b-icon-cut:before {
    content : "#{ $fa-var-cut }";
}

.b-icon-paste:before {
    content : "#{ $fa-var-paste }";
}

.b-icon-expand-row:before {
    content : "#{ $fa-var-angle-down }";
}

.b-icon-expand-column:before {
    content : "#{ $fa-var-angle-right }";
}

.b-icon-expand {
    content : "#{ $fa-var-expand }";
}

.b-icon-first:before {
    content : "#{ $fa-var-angle-double-left }";
}

.b-rtl > .b-icon-first:before {
    transform : scaleX(-1);
}

.b-icon-last:before {
    content : "#{ $fa-var-angle-double-right }";
}

.b-rtl > .b-icon-last:before {
    transform : scaleX(-1);
}

.b-icon-reload:before {
    content : "#{ $fa-var-redo }";
}

.b-icon-undo:before {
    content : "#{ $fa-var-undo }";
}

.b-icon-redo:before {
    content : "#{ $fa-var-redo }";
}

.b-icon-compare:before {
    content : "#{ $fa-var-code-compare }";
}

.b-icon-split-horizontal:before,
.b-icon-split-vertical:before,
.b-icon-split-both:before {
    min-width     : 1em !important;
    width         : 1em;
    height        : 1em;
    border-radius : 2px;
    border        : 2px solid currentColor;
    overflow      : hidden;
}

.b-icon-split-horizontal:before {
    content           : "┃";
    transform         : rotate(90deg);
    border-left-width : 3px;
}

.b-icon-split-vertical:before {
    content          : "┃";
    border-top-width : 3px;
}

.b-icon-split-both:before {
    content          : "╋";
    border-top-width : 3px;
}

//endregion

//region Docs

.b-icon-code:before {
    content : "#{ $fa-var-code }";
}

.b-icon-clipboard:before {
    content : "#{ $fa-var-clipboard }";
}

//endregion

//region Filter

.b-icon-filter:before,
.b-icon-filter-equal:before {
    content : "#{ $fa-var-filter }";
}

.b-icon-filter-less:before,
.b-icon-filter-before:before {
    content : "#{ $fa-var-chevron-left }";
}

.b-icon-filter-more:before,
.b-icon-filter-after:before {
    content : "#{ $fa-var-chevron-right }";
}

//endregion

//region Checkboxes

.b-icon-check:before {
    content : "#{ $fa-var-check }";
}

.b-icon-checked:before {
    content : "#{ $fa-var-check-square }";
}

.b-icon-unchecked:before {
    content : "#{ $fa-var-square }";
}

//endregion

//region RadioButton

.b-icon-radio:before {
    content : "#{ $fa-var-circle }";
}

.b-icon-radio-checked:before {
    content : "#{ $fa-var-circle-dot }";
}

.b-icon-radio-unchecked:before {
    content : "#{ $fa-var-circle }";
}

//endregion

//region Date & Time

.b-icon-calendar:before {
    content : "#{ $fa-var-calendar }";
}

.b-icon-calendar-day:before {
    content : "#{ $fa-var-calendar-day }";
}

.b-icon-clock:before {
    content : "#{ $fa-var-clock }";
}

.b-icon-recurring:before {
    content : "#{ $fa-var-sync }";
}

.b-icon-duration:before {
    content : "#{ $fa-var-hourglass }";
}

.b-icon-milestone:before {
    content : "#{ $fa-var-diamond }";
}

//endregion

//region Others

.b-icon-locked:before {
    content : "#{ $fa-var-lock }";
}

.b-icon-user:before {
    content : "#{ $fa-var-user }";
}

.b-icon-menu:before {
    content : "#{ $fa-var-bars }";
}

.b-icon-menu-horizontal:before {
    content : "#{ $fa-var-ellipsis-h }";
}

.b-icon-menu-vertical:before {
    content : "#{ $fa-var-ellipsis-v }";
}

.b-icon-info:before {
    content : "#{ $fa-var-info }";
}

.b-icon-sub-menu:before {
    content : "#{ $fa-var-chevron-right }";
}

.b-icon-star:before {
    content : "#{ $fa-var-star }";
}

.b-icon-warning:before {
    content : "#{ $fa-var-exclamation-triangle }";
}

.b-icon-columns:before {
    content : "#{ $fa-var-columns }";
}

.b-icon-picker:before {
    content    : "#{ $fa-var-caret-down }";
    transition : transform .2s;
}

.b-icon-picker-rotated:before {
    content    : "#{ $fa-var-caret-down }";
    transform  : rotate(180deg);
    transition : transform .2s;
}

.b-icon-resize-horizontal:before {
    content : "#{ $fa-var-arrows-alt-h }";
}

.b-icon-fullscreen:before {
    content : "#{ $fa-var-arrows-alt }";
}

.b-icon-cog:before {
    content : "#{ $fa-var-cog }";

    .b-linux &,
    .b-windows & {
        // this particular icon is off-center vertically w/o this alignment (but not on Mac)
        vertical-align : middle;
    }
}

.b-icon-file-download:before {
    content : "#{ $fa-var-file-download }";
}

.b-icon-sync:before {
    content : "#{ $fa-var-sync-alt }";
}

.b-icon-bad-mood-emoji:before {
    content : "#{ $fa-var-frown }";
}

.b-icon-circle:before {
    content : "#{ $fa-var-circle }";
}

.b-icon-square:before {
    content : "#{ $fa-var-square }";
}

.b-icon-merge-cells:before {
    content : "#{ $fa-var-layer-group }";
}

//endregion

//region Arrows

.b-icon-up:before {
    content : "#{ $fa-var-arrow-up }";
}

.b-icon-down:before {
    content : "#{ $fa-var-arrow-down }";
}

.b-icon-left:before {
    content : "#{ $fa-var-arrow-left }";
}

.b-icon-right:before {
    content : "#{ $fa-var-arrow-right }";
}

.b-icon-angle-left:before {
    content : "#{ $fa-var-angle-left }";
}

.b-icon-angle-right:before {
    content : "#{ $fa-var-angle-right }";
}

.b-icon-previous:before {
    content : "#{ $fa-var-chevron-left }";
}

.b-rtl > .b-icon-previous:before {
    transform : scaleX(-1);
}

.b-icon-next:before {
    content : "#{ $fa-var-chevron-right }";
}

.b-rtl > .b-icon-next:before {
    transform : scaleX(-1);
}

.b-icon-move-left-right:before {
    content : "#{ $fa-var-arrows-alt-h }";
}

.b-icon-move-up-down:before {
    content : "#{ $fa-var-arrows-alt-v }";
}

//endregion

.b-icon-spinner:before {
    content   : "#{ $fa-var-spinner }";
    animation : rotate 2s infinite linear;
}

// Additional Grid icons

//region Column

.b-icon-column-move-left:before {
    content : "#{ $fa-var-arrow-circle-left }";
}

.b-icon-column-move-right:before {
    content : "#{ $fa-var-arrow-circle-right }";
}

.b-icon-hide-column:before {
    content : "#{ $fa-var-times-circle }";
}

//endregion

// region Sort

.b-icon-sort:before {
    content : "#{ $fa-var-sort }";
}

.b-icon-sort-asc:before {
    content : "#{ $fa-var-sort-alpha-up }";
}

.b-icon-sort-desc:before {
    content : "#{ $fa-var-sort-alpha-down }";
}

.b-icon-sorted-asc:before {
    content : "#{ $fa-var-arrow-up }";
}

//.b-icon-sorted-desc:before {
//    content: "#{ $fa-var-arrow-down }";
//}

//endregion

//region Group

.b-icon-group-asc:before {
    content : "#{ $fa-var-sort-amount-up-alt }";
}

.b-icon-group-desc:before {
    content : "#{ $fa-var-sort-amount-down }";
}

.b-icon-group-collapse:before {
    content : "#{ $fa-var-minus-circle }";
}

.b-icon-group-expand:before {
    content : "#{ $fa-var-plus-circle }";
}

.b-icon-grouped-asc:before {
    content : "#{ $fa-var-signal }";
}

//.b-icon-grouped-desc:before {
//    content: "#{ $fa-var-signal }";
//}

//endregion

//region Tree

.b-icon-tree-expand:before {
    content : "#{ $fa-var-angle-right }";
}

.b-icon-tree-collapse:before {
    content : "#{ $fa-var-angle-down }";
}

.b-icon-tree-folder:before {
    content : "#{ $fa-var-folder }";
}

.b-icon-tree-folder-open:before {
    content : "#{ $fa-var-folder-open }";
}

.b-icon-tree-leaf:before {
    content : "#{ $fa-var-circle }";
}

//endregion

//region Splitter

.b-icon-expand-gridregion:before {
    content : "#{ $fa-var-chevron-right }";
}

.b-icon-collapse-gridregion:before {
    content : "#{ $fa-var-chevron-left }";
}

//endregion


// Additional scheduler icons

.b-icon-unassign:before {
    content : "#{ $fa-var-user-slash }";
}

.b-icon-valid:before {
    content : "#{ $fa-var-check }";
}

.b-icon-invalid:before {
    content : "#{ $fa-var-ban }";
}

.b-icon-checking:before {
    content : "#{ $fa-var-spinner }";
}

.b-icon-expand-resource:before {
    content : "#{ $fa-var-angle-double-down }";
}

.b-icon-note:before {
    content : "#{ $fa-var-sticky-note }";
}

.b-icon-advanced:before {
    content : "#{ $fa-var-cogs }";
}

.b-icon-palette:before {
    content : "#{ $fa-var-palette }";
}

// Additional gantt icons

.b-icon-renumber:before {
    content : "#{ $fa-var-sort-amount-down-alt }";
}

.b-icon-indent:before {
    content : "#{ $fa-var-indent }";
}

.b-icon-outdent:before {
    content : "#{ $fa-var-outdent }";
}

.b-icon-subtask::before {
    content : "#{ $fa-var-diagram-next }";
}

.b-icon-predecessor::before {
    content : "#{ $fa-var-diagram-predecessor }";
}

.b-icon-successor::before {
    content : "#{ $fa-var-diagram-successor }";
}

.b-icon-link:before {
    content : "#{ $fa-var-link }";
}

.b-icon-unlink:before {
    content : "#{ $fa-var-link-slash }";
}

// Additional calendar icons

.b-icon-calendar-days:before {
    content : "#{ $fa-var-calendar-days }";
}

.b-icon-calendar-week:before {
    content : "#{ $fa-var-calendar-week }";
}
