@import '../../../core-sass/themes/vars/classic-light-vars';

$grid-row-odd-color                : #FAFAFA;
$grid-cell-color                   : #222;
$grid-cell-action-column-color     : $dark-gray;
$grid-cell-border-color            : lighten($gray, 5%);
$grid-header-text-color            : #565656;
//$tree-parent-color : #565656;

$quickfind-font-weight             : 300;

@import '../../variables';

$action-item-color                 : scale_color($grid-cell-color, $lightness : 60%);
