
/* Left tree styles */
.sch-ganttpanel .x-grid-cell {
    height : 32px;
}

.gnt-calendarmanager .x-tree-icon-parent,
.gnt-calendarmanager .x-tree-icon-leaf {
    display : inline;
}

.gnt-calendarmanager .x-tree-icon,
.gnt-calendarmanager .x-tree-elbow-img,
.gnt-calendarmanager .x-tree-checkbox {
    margin-top : -3px;
}

.gnt-calendarmanager .x-grid-cell {
    height : 20px;
}

.sch-ganttpanel .x-grid-inner-locked .x-grid-cell {
    border-left-color   : transparent;
    border-bottom-color : transparent;
    border-top-color    : transparent;
    color               : #555;
}

.x-grid-inner-locked .x-grid-cell,
.sch-gantt-label {
    transition : color 0.3s;
}

.x-grid-inner-locked .x-grid-item-selected .x-grid-cell,
.x-grid-item-selected .sch-gantt-label {
    color : #222;
}

.x-grid-inner-locked :not(.x-grid-item-selected) .x-grid-cell {
    background-color : transparent;
}

.x-grid-inner-locked .x-grid-cell-inner,
.x-grid-inner-locked .x-tree-node-text {
    line-height : 30px;
}

.x-tree-icon, .x-tree-elbow-img, .x-tree-checkbox {
    margin-top : 0;
}

.root-row .x-grid-cell-inner {
    padding-left : 10px;
    font-size    : 120%;
}

.root-row .x-grid-cell {
    border-bottom : 1px solid #bbb;
}

/* EOF Left tree styles */

/* Dependency styling */
.crossPD-line {
    border : dashed;
}

/* EOF Dependency styling */
