@import '../../variables';

.b-datepicker {
    &:focus {
        outline : 0;
    }

    .b-datepicker-title {
        font-weight     : bold;
        gap             : 0;
        justify-content : center;
        margin          : 0 !important;
        flex-wrap       : nowrap;
    }

    .b-field {
        background-color : transparent;
        border           : 0 none;
        color            : $datepicker-header-color;
        min-width        : 0;
        display          : inline-flex;
        flex             : none !important;
        width            : auto;
        margin-bottom    : 0 !important;
        height           : 100%;
        cursor           : pointer;

        &:not(.b-readonly):hover {
            opacity : 0.7;
        }

        .b-field-inner {
            flex             : none;
            border           : 0 none;
            background-color : transparent;
            align-self       : stretch;
            padding          : 0;
            box-shadow       : none;
        }

        div[type=text] {
            outline : none;
        }
    }

    .b-toolbar.b-dock-top {
        background-color : $datepicker-header-background-color;
        color            : $datepicker-header-color;
        border-bottom    : none;
        font-size        : 1.2em;

        .b-toolbar-content {
            min-height      : 0;
            // Important needed to override toolbar's CSS
            padding         : 0.5em 0.5ex !important;
            gap             : 0.5ex;
            justify-content : space-around;
        }

        .b-datepicker-title {
            flex : 1 1 auto;
        }

        .b-icon {
            color : $datepicker-header-icon-color;

            &:before {
                line-height : normal;
            }
        }

        // Need to override the default button color / bg color.
        .b-button.b-icon {
            border        : none;
            border-radius : 50%;
            min-width     : 0;
            min-height    : 0;
            width         : 2em;
            height        : 2em;
            font-size     : 80%;

            &,
            &:not(.b-tab):active:not([disabled]),
            &:not(.b-tab):active:focus:not([disabled]) {
                color : $datepicker-weekdays-color;
            }

            &:hover {
                opacity : 0.7;
            }

            &:not(.b-contains-focus) {
                background : transparent !important;
            }
        }
    }

    // The week days header
    .b-calendar-weekdays {
        background-color : $datepicker-header-background-color;
        color            : $datepicker-weekdays-color;
        font-size        : 0.85em;

        // Day name cells
        .b-calendar-day-header {
            padding : 0.4em 0;
        }
    }

    &.b-show-week-column {
        .b-week-number-cell {
            line-height : $datepicker-cell-size;
            width       : $datepicker-cell-size;
            margin      : $datepicker-cell-margin;
            text-align  : center;
        }
    }

    .b-calendarpanel-content {
        padding         : 0;
        justify-content : flex-start;
    }

    .b-week-number-cell {
        color : $datepicker-week-number-color;
    }

    .b-calendar-cell {
        outline     : 0 none;
        position    : relative;
        flex        : 1 0 $datepicker-cell-size;
        padding     : 0 $datepicker-cell-spacing-horizontal;
        margin      : $datepicker-cell-spacing-vertical 0;
        transition  : background-color .2s, color .2s;
        align-items : center;

        > .b-datepicker-cell-inner {
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            justify-content : center;
            height          : $datepicker-cell-size;
            width           : $datepicker-cell-size;
            border-width    : $datepicker-cell-border-width;
            border-style    : solid;
            border-color    : transparent;
            border-radius   : $datepicker-cell-border-radius;
        }

        &.b-today > .b-datepicker-cell-inner {
            color            : $datepicker-today-cell-color;
            background-color : $datepicker-today-cell-background-color;
            border-color     : $datepicker-today-cell-border-color;
            border-width     : $datepicker-today-cell-border-width;
        }

        &.b-active-date:not(.b-selected-date) > .b-datepicker-cell-inner {
            color            : $datepicker-active-cell-color;
            background-color : $datepicker-active-cell-background-color;
            border-color     : $datepicker-active-cell-border-color;
        }

        &.b-selected-date:not(.b-in-range) > .b-datepicker-cell-inner {
            color            : $datepicker-selected-cell-color;
            background-color : $datepicker-selected-cell-background-color;
            border-color     : $datepicker-selected-cell-border-color;
        }

        &.b-other-month > .b-datepicker-cell-inner {
            background-color : $datepicker-other-month-cell-background-color;
            color            : $datepicker-other-month-cell-color;
        }

        &:not(.b-disabled-date,.b-selected-date) > .b-datepicker-cell-inner {
            cursor : pointer;

            // Hover effect only when not disabled
            &:hover {
                color            : $datepicker-hover-cell-color;
                background-color : $datepicker-hover-cell-background-color;
                border-color     : $datepicker-hover-cell-border-color;

                &.b-today {
                    color            : $datepicker-hover-today-cell-color;
                    background-color : $datepicker-hover-today-cell-background-color;
                    border-color     : $datepicker-hover-today-cell-border-color;
                }
            }
        }

        &.b-out-of-range > .b-datepicker-cell-inner {
            background-color : $datepicker-out-of-range-cell-background-color;
            color            : $datepicker-out-of-range-cell-color;
        }

        &.b-disabled-date > .b-datepicker-cell-inner {
            background-color : $datepicker-disabled-cell-background-color;
            color            : $datepicker-disabled-cell-color;
            opacity          : $datepicker-disabled-cell-opacity;
        }

        // An interior cell of a selected range
        &.b-in-range {
            background-color : rgba($datepicker-selected-cell-background-color, $datepicker-selected-range-opacity);
            border-radius    : 0 !important;

            // Continued and continues arrow shape.
            &.b-first-visible-cell {
                clip-path : polygon(0 50%, 8px 0, 100% 0, 100% 100%, 8px 100%);
            }

            &.b-last-visible-cell {
                clip-path : polygon(0 0, calc(100% - 8px) 0, 100% 50%, calc(100% - 8px) 100%, 0 100%);
            }
        }

        &.b-range-start,
        &.b-range-end {
            z-index : 0;

            &:before {
                content          : " ";
                background-color : rgba($datepicker-selected-cell-background-color, $datepicker-selected-range-opacity);
                position         : absolute;
                left             : 0;
                top              : 0;
                right            : 0;
                bottom           : 0;
                z-index          : -1;
            }

            > .b-datepicker-cell-inner {
                position         : relative;
                background-color : $datepicker-selected-cell-color;

                &:after {
                    content          : " ";
                    background-color : rgba($datepicker-selected-cell-background-color, $datepicker-selected-range-opacity);
                    border-radius    : 50%;
                    position         : absolute;
                    left             : 0;
                    top              : 0;
                    right            : 0;
                    bottom           : 0;
                    z-index          : -1;
                }
            }
        }

        &.b-range-start {
            &:before {
                left : 50%;
            }
        }

        &.b-range-end {
            &:before {
                right : 50%;
            }
        }
    }

    &.b-multiselect {
        // Cells must touch when we are selecting a range
        .b-calendar-cell {
            flex-grow     : 1 !important;
            margin-inline : 0 !important;
        }
    }

    &.b-rtl .b-icon::before {
        transform : scaleX(-1);
    }

    .b-yearpicker {
        width  : 100%;
        height : 100%;
    }

    .b-datepicker-yearbutton {
        margin-inline-start : 0.5ex;
        padding             : 0;
        border              : 0 none;
        color               : inherit !important;
        min-height          : unset;
        min-width           : unset;
        background-color    : unset;
        font-weight         : $widget-font-weight;

        &:not(.b-disabled):not(.b-tab):hover {
            opacity          : 0.7;
            background-color : unset;
        }
    }
}

.b-readonly-combo-list {
    &.b-empty {
        display : none;
    }

    .b-list-item {
        min-width : auto;

        .b-visible-scrollbar & {
            padding-inline-end : 2em; // Some air ensuring scrollbar doesn't overlap with text
        }
    }
}
