@import 'vars/material-vars';
@import '../all';

.b-popup.b-schedulerpro-taskeditor {
    .b-divider {
        // There is some insanely long selector applied for inline-flex
        display: none !important;
    }

    .b-tabpanel-body {
        padding-bottom : 0;
    }

    .b-tabpanel-tab {
        min-width : 3em;
    }

    .b-advanced-tab .b-checkbox:not(.b-last-row) {
        margin-top : 1em;
    }
}
