/*Bordas arredondadas - sem imagem
-----------------------------------------------
fonte:http://codigofonte.uol.com.br/codigo/css/efeitos/criar-bordas-arredondadas-sem-utilizar-imagens */
.bordaBox {background: transparent; width:30%;position:relative;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b4, .bordaBox .b5, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b, .bordaBox .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b {height:1px;}
.bordaBox .b2, .bordaBox .b3, .bordaBox .b4 {background:#CECECE; border-left:1px solid #999; border-right:1px solid #999;}
.bordaBox .b1 {margin:0 5px; background:#999;}
.bordaBox .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox .b3 {margin:0 2px;}
.bordaBox .b4 {height:2px; margin:0 1px;}
.bordaBox .b5 {margin:0 0px; background:#999;}
.bordaBox .conteudo {padding:0px;display:block; background:#CECECE; border-left:1px solid #999; border-right:1px solid #999; position:relative;height:100px;}
.bordaBox .conteudoBordaQuad {padding:0px;display:block; background:#CECECE; border:1px solid #999; position:relative;height: 20px;}

/*Como usar as bordas arredondadas - sem imagem
-----------------------------------------------
fonte:http://codigofonte.uol.com.br/codigo/css/efeitos/criar-bordas-arredondadas-sem-utilizar-imagens
<div class="bordaBox">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="conteudo">
Box com bordas arredondadas sem utilizar imagens<br />Fácil utilização e implementação com CSS puro!
</div>
<b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
</div>
*/

/*Objetos móveis
fonte: http://www.hunlock.com/blogs/Javascript_Drag_and_Drop
*/
.moveable 
{
	border: #000 0px solid;
	font-size: 10px;
	cursor: move;
	font-family: verdana, tahoma, arial;
	position:absolute;
	float:right;	
	z-index:2;
} 

.moveableTO
{
	padding:0px;
	margin:5px;
} 

.objetoEstrategia
{
	border: #000 0px solid;
	font-size: 10px;
	font-family: verdana, tahoma, arial;
	position:absolute;
	float:right;	
	z-index:3;
} 

.objetivoEstrategico
{
	border: #000 0px solid;
	font-size: 10px;
	cursor: pointer;
	font-family: verdana, tahoma, arial;
	position:absolute;
	float:right;	
	z-index:4;
} 

.objetivoEstrategicoReuniao
{
	border: #000 0px solid;
	font-size: 10px;
	font-family: verdana, tahoma, arial;
	position:absolute;
	float:right;	
	z-index:4;
} 
