/* ATENÇÃO: O estilo fundo está sendo utilizado na tela "adm_edicaoWorkflows.aspx" */
#__wf_divFundo 
{
	position:absolute; 
	z-index:2;
	display:none; 
	background-color:#000000;
	opacity: .6;
	filter: alpha(opacity=60);
}

/* ATENÇÃO: O estilo fundoDados está sendo utilizado na tela "adm_edicaoWorkflows.aspx" */
.fundoDados
{
	position:absolute; 
	z-index:3;
	display:none; 
	background-color:#FFFFFF;
	border-left:#555555 1px solid; 
	border-top:#555555 1px solid;
	border-right:#000000 1px solid; 
	border-bottom:#000000 1px solid;
}

/*ACG: Usei no arquivo "adm_edicaoWorkflows.aspx" para ocultar a opção "Caminho condicional" */
.Desenv{
    display:none;
}