@import '../../variables';

.b-export {
    overflow : hidden;

    .b-export-content {
        position       : absolute;
        display        : flex;
        flex-direction : column;
        height         : 100%;
    }

    .b-export-body {
        flex : 1;
    }

    .b-grid-header-container {
        margin-inline-end : 0 !important;
        border-inline-end : none !important;
    }

    .b-grid-body-container.b-widget-scroller {
        overflow-y : hidden !important;
    }

    .b-grid-footer-container {
        padding-inline-end : 0 !important;
    }

    .b-virtual-scrollers {
        display : none;
    }

    // Export HTML does not include scrollbars, so always hide the pad element
    &.b-visible-scrollbar {
        .b-show-yscroll-padding > .b-yscroll-pad {
            display : none;
        }
    }

    &.b-multipage {
        .b-export-content {
            width  : 100%;
            height : 100%;
        }

        .b-export-body {
            overflow : hidden;
        }
    }
}

.b-export-content,
.b-export-content * {
    box-sizing : border-box;
}
