@import '../variables.scss';

.b-eventeditor.b-popup {
    width : 29em;

    .b-eventeditor-content.b-popup-content {
        padding : 1em;

        .b-textfield, .b-checkbox > {
            label {
                flex : 1 0 $eventedit-label-width;
            }
        }
    }

    .b-bottom-toolbar {
        // Widgets in body have bottom margin .6em, use .4em for top to get even looking padding
        padding : .4em 1em 1em 1em;

        @if $eventedit-label-filler-width != null {
            // Use b-popup-content padding left from above
            padding-left : calc(1em + #{$eventedit-label-filler-width});
        }

        > button {
            flex         : 1;
            margin-right : .5em;

            &:last-child {
                margin-right : 0;
            }
        }
    }
}

//.b-eventeditor-editing {
//    .b-sch-event {
//        filter     : grayscale(60%);
//        transition : all 0.2s;
//
//        &.b-editing {
//            filter : none;
//        }
//    }
//}
