@import '../../icon-font';
@import '../../../fontawesome/scss/variables';
@import '../../variables';

$button-default-color              : scale-color($gray, $lightness : 20%);
$colorpicker-no-color-border-color : #BBB;

// Embed theme details in content.
// See DomHelper#themeInfo
.b-theme-info:before {
    content : '{"name":"Classic"}';
}

