@import '../../variables';

.b-percent-bar-outer {
    flex       : 1;
    height     : 30%;
    max-height : 0.8em;
    background : $percent-bar-background;
}

.b-percent-bar {
    // For vertically aligning the text
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    height          : 100%;
    max-width       : 100%;
    padding         : 0 .2em;
    background      : $percent-bar-fill;
    color           : $percent-bar-color;
    font-size       : .7em;
    text-align      : end;
    transition      : width 0.5s, padding .5s, background-color .5s;

    &.b-zero {
        padding     : 0;
        text-indent : .2em;
    }

    &.b-low {
        background : $percent-bar-low-fill;
        color      : $percent-bar-low-color;

        span {
            left          : 100%;
            margin-block  : 0;
            margin-inline : 5px 0;
        }
    }

    span {
        position      : relative;
        display       : inline-block;
        margin-block  : 0;
        margin-inline : 0 5px;
        line-height   : 1em;
    }
}

.b-grid-body-container.b-scrolling {
    .b-percent-bar {
        transition : none;
    }
}
